<div class="container">
    <div class="col-sm-6 mx-auto my-3">
        <div class="card text-center">
            <div class="card-header bg-secondary bg-opacity-50">
                <h3>Modifier son profil</h3>
            </div>
            <div class="card-body">
                <form action="/users/profile/{{user.id}}" method="POST">
                    <div class="form-group mb-2">
                        <input type="text" name="fullname" class="form-control" placeholder="Nom complet" value="{{user.fullname}}" autofocus>
                    </div>
                    <div class="form-group mb-2">
                        <input type="email" name="email" class="form-control" placeholder="Adresse email" value="{{user.email}}">
                    </div>
                   <a href="/users/change-password/{{user.id}}" class="change-password">Changer mot de passe</a>
                    <div class="form-group d-md-block justify-content-center mt-3">
                        <button class="col-2 btn btn-primary btn-block me-3 btn-save" type="submit"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Mettre à jour l'utilisateur">
                            <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                        <a href="/users/delete-user/{{user.id}}" class="col-2 btn btn-outline-danger btn-block ms-3"
                        type="button" onclick="return confirm('Voulez-vous vraiment supprimer votre compte ?');"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Supprimer l'utilisateur">
                            <i class="fa-solid fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>