<section class="container my-5">
    <article class="card">
        <div class="px-lg-5">
            <img src="/img/{{article.formFile}}" class="card-img-top px-lg-5" alt="{{article.formFile}}" width="100%" height="100%" />
        </div>
        <div class="card-body">
            <h2 class="fw-bold">{{article.title}}</h2>
            <p class="fst-italic">Par {{article.author}}, le {{moment article.createdAt format="DD/MM/YYYY"}} à {{moment article.createdAt format="HH:mm"}}</p>
            <label for="textarea-content">
            <textarea id="content-article" class="form-control" id="textarea-content" style="height: 80vh" disabled>{{article.content}}</textarea>
        </div>
    </article>

    <hr class="my-4" id="tag">
    <h4 class="text-center my-4">Liste des commentaires</h4>
    {{#each commentData}}
    <section class="col-md-12 mx-auto my-3">
        <div class="d-flex align-items-center highlight-toolbar bg-secondary bg-opacity-25 ps-3 pe-2 py-1 border border-secondary border-bottom-0 rounded-top">
            <small class="font-monospace text-muted">{{user}}, le {{moment createdAt format="DD/MM/YYYY"}} à {{moment createdAt format="HH:mm"}}</small>

            {{#ifCond ../user.id userId}}
            <div class="d-flex ms-auto">
                <span data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom{{_id}}" aria-controls="offcanvasBottom">
                    <button type="button" class="btn mt-1 fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Éditer son commentaire"></button>
                </span>
                <!-- Button trigger modal -->
                <span data-bs-toggle="modal" data-bs-target="#modalComment{{_id}}">
                    <button type="button" class="btn text-nowrap fa-solid fa-trash mt-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Supprimer son commentaire">
                        {{!-- <i class="fa-solid fa-trash" aria-hidden="true"></i> --}}
                    </button>
                </span>

                <!-- Modal -->
                <div class="modal fade" id="modalComment{{_id}}" tabindex="-1" aria-labelledby="modalLabelComment" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title fs-5" id="modalLabelComment">{{user}}, le {{moment createdAt format="DD/MM/YYYY"}} à {{moment createdAt format="HH:mm"}}</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Voulez-vous vraiment supprimer cet utilisateur ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="/users/delete/{{user._id}}" type="button" class="btn btn-danger">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>

                <form action="/article/comment/{{_id}}" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="offcanvas offcanvas-bottom bg-light bg-opacity-75" data-bs-scroll="true" tabindex="-1" id="offcanvasBottom{{_id}}" aria-labelledby="offcanvasBottomLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Modification du commentaire</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="form-group offcanvas-body small text-center">
                            <label class="d-grid">
                                <textarea class="col-12 border border-secondary p-2 comment-textarea" name="comment">{{comment}}</textarea>
                            </label>
                            <button class="btn btn-primary btn-block mt-4" type="submit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Modifier le commentaire">
                                Modifier
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            {{/ifCond}}

        </div>
        <section class="d-grid">
        <label>
            <textarea class="col-12 border border-secondary border-top-0 p-2 comment-textarea" readonly>{{comment}}</textarea>
        </label>
        </section>
    </section>
    {{/each}}

    {{#ifDiff count 7}}
    {{else}}
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {{#paginate pagination type="first"}}
            <li {{#if disabled}} class="pageNumber disabled" {{/if}}><a class="page-link" href="?p={{n}}#tag"><i class="fa-solid fa-angles-left"></i></a></li>
            {{/paginate}}

            {{#paginate pagination type="previous"}}
            <li {{#if disabled}} class="pageNumber disabled" {{/if}}><a class="page-link" href="?p={{n}}#tag"><i class="fa-solid fa-angle-left"></i></a></li>
            {{/paginate}}

            {{#paginate pagination type="middle" limit=pagination.pageCount}}
            <li {{#if active}} class="pageNumber active" {{/if}}><a class="page-link" href="?p={{n}}#tag">{{n}}</a></li>
            {{/paginate}}

            {{#paginate pagination type="next"}}
            <li {{#if disabled}} class="pageNumber disabled" {{/if}}><a class="page-link" href="?p={{n}}#tag"><i class="fa-solid fa-angle-right"></i></a></li>
            {{/paginate}}

            {{#paginate pagination type="last"}}
            <li {{#if disabled}}class="pageNumber disabled" {{/if}}><a class="page-link" href="?p={{n}}#tag"><i class="fa-solid fa-angles-right"></i></a></li>
            {{/paginate}}
        </ul>
    </div>
    {{/ifDiff}}

    <hr class="mt-5 mb-3">
    {{#if user}}
    <form class="col-md-12 mx-auto" action="/article/{{article._id}}" method="POST" enctype="application/x-www-form-urlencoded">
        <h4 class="text-center">Laisser un commentaire</h4>
        <input type="text" name="articleId" value="{{article._id}}" hidden>
        <div class="form-group mb-2 d-grid">
            <label for="new-comment-textarea"><textarea class="col-12 p-3" id="new-comment-textarea" name="comment"></textarea>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary btn-block" type="submit"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Envoyer le commentaire">
                Envoyer
            </button>
        </div>
    </form>
    {{else}}
    <section class="col-md-12 mx-auto my-3 justify-content-center">
        <h6 class="text-danger">Pour laisser un commentaire, vous <b>devez être connecté !</b></h6>
    </section>
    {{/if}}
</section>

