<div class="container mb-5">
  <div id="carouselCaptions" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {{#each articlesCarousel}}
      <a href="/article/{{_id}}">
      <div class="carousel-item {{#if @first }}active{{/if}}" data-bs-interval="4000">
        <img src="/img/{{formFile}}" class="d-block w-100" alt="{{formFile}}">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="fw-bold">{{title}}</h5>
          <p>{{description}}</p>
        </div>
      </div>
      </a>
      {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Suivant</span>
    </button>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    {{#each articles}}
      <div class="col">
        <a href="/article/{{_id}}">
          <div class="card h-100">
            <img
              src="/img/{{formFile}}"
              class="card-img-top"
              alt="{{formFile}}"
            />
            <div class="card-body">
              <h5 class="card-title fw-bold">{{title}}</h5>
              <p class="card-text" id="editor">{{description}}... <button type="button" class="btn btn-outline-secondary btn-sm border-0">En savoir plus</button></p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Le {{moment createdAt format="DD/MM/YYYY"}} à {{moment createdAt format="HH:mm"}}</small>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>

{{#ifDiff count 10}}
{{else}}
<div class="d-flex justify-content-center">
    <ul class="pagination">
        {{#paginate pagination type="first"}}
        <li {{#if disabled}} class="pageNumber disabled" {{/if}}><a class="page-link" href="?p={{n}}"><i class="fa-solid fa-angles-left"></i></a></li>
        {{/paginate}}

        {{#paginate pagination type="previous"}}
        <li {{#if disabled}} class="pageNumber disabled" {{/if}}><a class="page-link" href="?p={{n}}"><i class="fa-solid fa-angle-left"></i></a></li>
        {{/paginate}}

        {{#paginate pagination type="middle" limit=pagination.pageCount}}
        <li {{#if active}} class="pageNumber active" {{/if}}><a class="page-link" href="?p={{n}}">{{n}}</a></li>
        {{/paginate}}

        {{#paginate pagination type="next"}}
        <li {{#if disabled}} class="pageNumber disabled" {{/if}}><a class="page-link" href="?p={{n}}"><i class="fa-solid fa-angle-right"></i></a></li>
        {{/paginate}}

        {{#paginate pagination type="last"}}
        <li {{#if disabled}}class="pageNumber disabled" {{/if}}><a class="page-link" href="?p={{n}}"><i class="fa-solid fa-angles-right"></i></a></li>
        {{/paginate}}
    </ul>
</div>
{{/ifDiff}}